* {
	box-sizing: border-box;
}

body {
	overflow: hidden;
	padding: 1px;
	margin: 0;
	background: #B9E3C6;

}

.wrapper {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner-wrap {
	height: 80%;
}

.header {
	border: 5px solid #F6FEDB;;
	width: 100%;
	display: flex;
	border-top-left-radius: 85px;
	border-bottom-right-radius: 85px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	transition: all ease 1s;
}

.header span {
	color: #F6FEDB;
	font-size: 2.3em;
}

.header > span {
	padding-left: 30px;
	font-family: 'Josefin Slab', serif;
}

.add-icon {
	font-size: 2em;
	margin: auto 0;
	cursor: pointer;
	color: #F6FEDB;
	margin-left: auto;
	margin-right: 0.5em;
	transition: all ease 1s;
}

.add-icon:hover {
	transform: rotate(180deg);
}

.header:hover {
	padding-left: 30px;
}

.add input {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 85px;
	border-bottom-left-radius: 85px;
	font-size: 2em;

	color: #F6FEDB;
  opacity: 0.9;
	font-family: 'Josefin Slab', serif;

	background: transparent;  /* fallback for old browsers */
	background: -webkit-transparent;  /* fallback for old browsers */

	outline: 0;
	border: 5px solid #F6FEDB;
	border-top: 0px;
	padding-right: 30px;
	padding-left: 30px;
}

.add input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #F6FEDB;
  opacity: 0.7; /* Firefox */
}

#todo_wrap {
	min-height: 40%;
	max-height: 40%;
	overflow-x: hidden;
	overflow-y: auto;
}

.todo {
	border: 2px solid #68917F;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-left-radius: 85px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 35px;
	border-bottom-left-radius: 10px;
	display: flex;
	background: #F6FEDB;
	transition: all ease 0.7s;
}

.todo:hover {
	padding: 0 30px;
}

.icon {
	margin-left: auto;
	margin-right: 0.5em;
	transition: all ease 0.7s;
}

.icon:hover {
	transform: rotate(180deg);
}

.todo_text, .icon {
	font-size: 2em;
	cursor: pointer;
	color: #7EB09B;
	font-family: 'Amatic SC', cursive;
}

.icon {
	font-weight: 400;
	align-self: center;
}

.todo_text {
	font-weight: 600;
	padding-left: 30px;
	padding-right: 30px;
	overflow-x: hidden;
}

#completedOut {
	width: 100%;
	border: 5px solid #F6FEDB;
	border-top-right-radius: 85px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	min-height: 40%;
  max-height: 40%;
  overflow: auto;

}

#completedOut span {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 2.3em;
	font-weight: 600;
	padding-left: 30px;
}

#completedOut > span {
	color: #F6FEDB;
	font-family: 'Josefin Slab', serif;
	transition: all ease 0.7s;
}

#completedOut > span:hover {
	letter-spacing: 4px;
}


/* media query */

@media only screen and (max-width: 450px) {
	.inner-wrap {
		height: 88%;
	}

	#todo_wrap {
		min-height: 45%;
		max-height: 45%;
	}

	#completedOut {
		min-height: 45%;
		max-height: 45%;
	}
}
