* {
	/* border: 1px solid black; */
	box-sizing: border-box;
}

body {
	overflow: hidden;
}

.wrapper {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner-wrap {
	height: 80%;
}

.header {
	border: 1px solid black;
	width: 100%;
	display: flex;
	border-top-left-radius: 85px;
	border-bottom-right-radius: 85px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.header span {
	font-size: 2.3em;
	font-weight: 700;
}

.header > span {
	padding-left: 30px;
}

.add-icon {
	padding-left: 30px;
	font-size: 2em;
	margin: auto 0;
	cursor: pointer;
	/* color: rgb(66, 66, 66); */
	margin-left: auto;
	margin-right: 0.5em;
}

.add input {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 85px;
	border-bottom-left-radius: 85px;
	font-size: 2em;
	text-indent: 30px;
	outline: 0;
	border: 1px solid black;
}

#todo_wrap {
	min-height: 40%;
	max-height: 40%;
	overflow: auto;
}

.todo {
	border: 1px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-left-radius: 85px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 35px;
	border-bottom-left-radius: 10px;
	display: flex;
}

.icon {
	margin-left: auto;
	margin-right: 0.5em;
}

.todo_text, .icon {
	font-size: 2em;
	cursor: pointer;
}

.icon {
	font-weight: 400;
	align-self: center;
}

.todo_text {
	padding-left: 30px;
}

#completedOut {
	/* padding-top: 2em; */
	width: 100%;
	border: 1px solid black;
	border-top-right-radius: 85px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	min-height: 40%;
  max-height: 40%;
  overflow: auto;
}

#completedOut span {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 2.3em;
	font-weight: 500;
	padding-left: 30px;
}
